In [ ]:
import pandas as pd
from glob import glob

In [ ]:
# Lendo arquivos
df1 = pd.read_excel('/content/drive/MyDrive/IMERSIVO PANDAS/Planilhas/Fortaleza.xlsx')
df2 = pd.read_excel('/content/drive/MyDrive/IMERSIVO PANDAS/Planilhas/Natal.xlsx')
df3 = pd.read_excel('/content/drive/MyDrive/IMERSIVO PANDAS/Planilhas/Recife.xlsx')
df4 = pd.read_excel('/content/drive/MyDrive/IMERSIVO PANDAS/Planilhas/Salvador.xlsx')

In [ ]:
df1.head(4)

      Cidade       Data  Vendas  LojaID  Qtde
0  Fortaleza 2018-01-01  142.00    1520     1
1  Fortaleza 2018-01-01   14.21    1522     6
2  Fortaleza 2018-01-01   71.55    1520     1
3  Fortaleza 2018-01-01    3.01    1521     7

In [ ]:
df_final = pd.concat([df1, df2, df3, df4])

In [ ]:
df_final.sample(5)

        Cidade       Data  Vendas  LojaID  Qtde
224      Natal 2019-01-02  178.30    1035     3
43       Natal 2019-01-01   12.21    1034     1
39      Recife 2019-01-01  143.58     981     3
8    Fortaleza 2019-01-02   12.16    1523     1
227      Natal 2019-01-02   14.70    1035     1

In [ ]:
df_final.shape

(696, 5)

# Como fazer essa concatenação de forma mais facil?

In [ ]:
# Vamos iterar sobre esses arquivos da pasta(gera uma lista com esses arquivos)
arquivos = sorted(glob('/content/drive/MyDrive/IMERSIVO PANDAS/Planilhas/*.xlsx')) # Vai ler todos os arquivos .xlsx da planilha

In [ ]:
arquivos

['/content/drive/MyDrive/IMERSIVO PANDAS/Planilhas/Fortaleza.xlsx',
 '/content/drive/MyDrive/IMERSIVO PANDAS/Planilhas/Natal.xlsx',
 '/content/drive/MyDrive/IMERSIVO PANDAS/Planilhas/Recife.xlsx',
 '/content/drive/MyDrive/IMERSIVO PANDAS/Planilhas/Salvador.xlsx']

In [ ]:
# Criando o df final de forma mais otimizada
df = pd.concat((pd.read_excel(cont) for cont in arquivos)) # cont vai ser cada um dos elementos da lista arquvios, concatenando todos eles
# o que ta dentro do concat vai retornar uma lista, uma vez que arquivos é uma lista

In [ ]:
df.sample(5)

       Cidade       Data  Vendas  LojaID  Qtde
8    Salvador 2019-01-02   12.16    1523     1
68   Salvador 2018-01-01  179.74    1520     2
223     Natal 2019-01-02   40.51    1037     2
147    Recife 2018-01-01  181.00     980     4
121     Natal 2019-03-02  100.70    1037     3

In [ ]:
# Criando uma nova coluna 
# Precisamos de uma coluna para receita, uma vez que venda é o valor do produto e qtde a quantidade de produtos vendidos
df['Receita'] = df['Vendas'] * df['Qtde']

In [ ]:
df.sample(5)

        Cidade       Data  Vendas  LojaID  Qtde  Receita
26   Fortaleza 2018-01-02    6.98    1521    10    69.80
140      Natal 2019-03-02   20.79    1036     2    41.58
63      Recife 2019-01-01   37.95     980     2    75.90
93      Recife 2019-01-01   17.45     980     6   104.70
86   Fortaleza 2018-01-01  154.92    1521     5   774.60

In [ ]:
# Queremos outra coluna com o ano da venda(usando date_time)
df['Ano_venda'] = df['Data'].dt.year # Vai extrair o ano da data

In [ ]:
df.sample(5)

       Cidade       Data  Vendas  LojaID  Qtde  Receita  Ano_venda
61      Natal 2019-01-01    4.54    1036     3    13.62       2019
31      Natal 2019-01-01  202.25    1035     2   404.50       2019
42   Salvador 2018-01-01   40.00    1520     8   320.00       2018
100     Natal 2019-01-01  190.97    1036     2   381.94       2019
26   Salvador 2018-01-02    6.98    1521    10    69.80       2018

In [ ]:
df['Dia_venda'] = df['Data'].dt.day
df['Mes_venda'] = df['Data'].dt.month

In [ ]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Ano_venda,Dia_venda,Mes_venda
10,Natal,2019-01-01,30.97,1036,1,30.97,2019,1,1
80,Salvador,2018-01-01,121.77,1523,3,365.31,2018,1,1
129,Salvador,2018-01-01,13.70,1522,6,82.20,2018,1,1
97,Natal,2019-01-01,39.91,1037,3,119.73,2019,1,1
25,Natal,2019-01-01,220.62,1035,1,220.62,2019,1,1

# Como exportar o df que alteramos

In [ ]:
# Exportando dados para excel
df.to_excel("Planilha_att.xlsx", index=False) # Nao precisamso do index no excel